@page "/settings/about-us"

<PStackPageBar Title="About Us">
</PStackPageBar>

<div class="pa-4">
    <MSheet Class="py-12 mb-4 d-flex align-center justify-center">
        <MImage Src="_content/Masa.Blazor.MauiDemo.Rcl/img/masastack-cn.png" MaxWidth="100"></MImage>
    </MSheet>

    <MSheet Class="pa-4 mb-4 body-1">
        温州数闪科技有限公司，成立于2021年，是一家开源软件公司。致力于打造开源产品 MASA Stack，提供一站式 .NET 现代化应用开发交付解决方案，赋能560万 .NET 开发者转型为数字化人才，帮助企业降低数字化转型门槛，让变化更简单！
    </MSheet>
</div>