@page "/settings"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject StackNavigationManager NavigationManager

<PageTitle>Settings</PageTitle>

<PPageStackItemInit Title="Settings">
</PPageStackItemInit>

<div class="pa-4">
    <MList Class="rounded mb-3">
        <MListItem OnClick="@(() => NavigationManager.NavigateTo("/settings/dark-mode"))">
            <MListItemContent>
                <MListItemTitle>Dark mode</MListItemTitle>
            </MListItemContent>
            <MListItemAction>
                <MIcon Small>$next</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
    <MList Class="rounded mb-3">
        <MListItem OnClick="@(() => NavigationManager.NavigateTo("/settings/about-us"))">
            <MListItemContent>
                <MListItemTitle>About us</MListItemTitle>
            </MListItemContent>
            <MListItemAction>
                <MIcon Small>$next</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
    <MList Class="rounded">
        <MListItem OnClick="@Logout">
            <MListItemContent>
                <MListItemTitle Class="error--text font-weight-bold text-center">Log Out</MListItemTitle>
            </MListItemContent>
        </MListItem>
    </MList>
</div>

@code {

    private async Task Logout()
    {
        ((MauiDemoAuthenticationStateProvider)AuthenticationStateProvider).Logout();
    }

}