@page "/settings"

<PageTitle>Settings</PageTitle>

<PPageStackItemInit Title="Settings">
</PPageStackItemInit>

<div class="pa-4">
    <MList Class="rounded mb-3">
        <MListItem Href="/settings/dark-mode">
            <MListItemContent>
                <MListItemTitle>Dark mode</MListItemTitle>
            </MListItemContent>
            <MListItemAction>
                <MIcon Small>$next</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
    <MList Class="rounded">
        <MListItem Href="/settings/about-us">
            <MListItemContent>
                <MListItemTitle>About us</MListItemTitle>
            </MListItemContent>
            <MListItemAction>
                <MIcon Small>$next</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
</div>
