@page "/test1/message/{message}"
@using System.Web
@layout LoginLayout
@attribute [AllowAnonymous]
@inject PageStackNavController NavController

<h1>Test message: @Message</h1>

<ul>
    <li>
        <a @onclick="@(() => NavController.Replace("/test1"))">/test1</a>
    </li>
    <li>
        <a @onclick="@(() => NavController.Replace("/test1/abc"))">/test1/abc</a>
    </li>
    <li>
        <a @onclick=@(() => NavController.Replace($"/test1/message/{HttpUtility.UrlEncode("中文")}"))>/test1/message/123</a>
    </li>
</ul>


@code {

    [Parameter] public string Message { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Console.Out.WriteLine("[Test1Message] OnInitialized");
    }

}