@page "/test1"
@using System.Web
@layout LoginLayout
@attribute [AllowAnonymous]
@inject PageStackNavController NavController
@inject IPopupService PopupService

<PStackPageBarInit Title="Test 1"
                   Height="44">
    <ExtensionContent>
        ABC
    </ExtensionContent>
</PStackPageBarInit>
<button @onclick="@(() => PopupService.ConfirmAsync("Title"))">confirm</button>

<ul style="height: 100vh;">
    <li>
        <a @onclick="@(() => NavController.Replace("/test1"))">/test1</a>
    </li>
    <li>
        <a @onclick="@(() => NavController.Replace("/test1/abc"))">/test1/abc</a>
    </li>
    <li>
        <a @onclick=@(() => NavController.Replace($"/test1/message/{HttpUtility.UrlEncode  ("中文")}"))>/test1/message/123</a>
    </li>

</ul>