@page "/test2"
@layout LoginLayout
@attribute [AllowAnonymous]
@inject StackNavigationManager NavigationManager

<ul>
    <li>
        <MButton OnClick="@(() => GoBack("abc"))">Goback with data abc</MButton>
    </li>
    <li>
        <MButton OnClick="@(() => GoBack("xyz"))">Goback with data xyz</MButton>
    </li>
</ul>

@code {

    private void GoBack(string data)
    {
        NavigationManager.Back(data);
    }

}