@page "/test1"
@page "/test1/{id}"
@layout LoginLayout
@attribute [AllowAnonymous]
@inherits PStackPageBase
@inject StackNavigationManager StackNavigationManager

<h1>Id: @Id</h1>

<a href="/test2"
   data-page-stack-strategy="push">
    /test2
</a>

<a href="/test1/123qwe"
   @onclick:preventDefault
   data-page-stack-strategy="replace">
    /test1/123qwe
</a>

@code {
    [Parameter] public string Id { get; set; }

    protected override void OnPageActivated(object? state)
    {
        base.OnPageActivated(state);

        Console.Out.WriteLine($"[Test1] OnPageActivated {state}");
    }

}