@page "/test1/abc"
@using System.Web
@layout LoginLayout
@attribute [AllowAnonymous]
@inject PageStackNavController NavController

<h1>Test 1 ABC</h1>

<ul>
    <li>
        <a @onclick="@(() => NavController.Replace("/test1"))">/test1</a>
    </li>
    <li>
        <a @onclick="@(() => NavController.Replace("/test1/abc"))">/test1/abc</a>
    </li>
    <li>
        <a @onclick=@(() => NavController.Replace($"/test1/message/{HttpUtility.UrlEncode("中文")}"))>/test1/message/123</a>
    </li>

</ul>